

 #header_one{
color: gray;
text-align: right;

};
#header_two{
    color: gray;
text-align: left;
} 







.table_images{
    widows: 400px;
    height: 350px;
    padding: 50px;
    padding-right: 12px
}

























/* #header_one{
color: gray;
text-align: right;

};

#figure img {
  
  
    width: 300px;
    border: 1px solid #000;
    padding-left: 1em;
    background-color: rgba(255, 255, 37, 0.7);
    position: fixed;
    left: -265px;
    top: 200px;
}

#images {
    max-width: width 30px;
    max-height: 150px;
}
#first_image{
    /* max-width: 220px;
    max-height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: center;
    
    float: right; */
    /* margin-right:auto; */
    /* width: 40px;
}
#header_two{
    color: gray;
text-align: left;
} */ 