*{
    background-color: white;/*add*/
}

 #header_one{
color: black;
text-align: right;
font-style: normal;/*add*/

};
#header_two{
    color: #7d97ad; /*add*/
text-align: left;
} 
#sub_header_one{/*add*/
    font-style: oblique;
    text-align: right;
}
#imge{ /*add*/
    border-width: 22px ; /*add*/
}







.table_images{
    widows: 400px;
    height: 350px;
    padding: 50px;
    padding-right: 12px
}
.sentense{
    font-size: 22px;
    text-align: center;
}


























