

 #header_one{
color: gray;
text-align: right;

};
#header_two{
    color: gray;
text-align: left;
} 







.table_images{
    widows: 400px;
    height: 350px;
    padding: 50px;
    padding-right: 12px
}
.sentense{
    font-size: 22px;
    text-align: center;
}


























